* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: #dfdede; */
    background-color:    #f4f5f6;
    font-family: 'Poppins', sans-serif;
}

#main {
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.5vw;
    background: rgb(214, 212, 212);
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#header #name {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px
}

#header #name #menu {
    font-size: 1.4vw;
    font-weight: 400;
    color: #191818;
}

#header #name #menu:hover {
    color: #dfdede;
    transition: .3s;
}

#header #name #logo {
    font-size: 1.4vw;
    font-weight: 400;
    color: #282727;
    letter-spacing: -0.5px;
}

#header #call i {
    font-size: 1.8vw;
    padding: 5px;
}
#header #call button:hover {
    background-color: #73bf6f;
    transition: .3s;
    scale: 1.1;
    border-radius: 5px;
}

#hero {
    width: 100%;
    height: 70vh;
    padding: 0px 2vw;
    background-color: #c75858;
}

.in {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in #search {
    font-size: 5vw;
    color: #191818;
}

#coursesContainer {
    padding: 20px 40px;
    margin-top: 20px;
}
#course{
    margin-top: 10vw;
}
#teachersection #teacherui {
    display: flex;
    justify-content: space-between;
    height:100vh;
    margin:5px 10px;
    flex-direction: row;
    padding: 0vw 8vw;
}
 #teachersection #teacherui #fleft{
    overflow:hidden;
    width: 45%;
    height: inherit;
}

 #teachersection #teacherui #fleft .teacherinfo{
    display: flex;
    width: 100%;
    height:inherit;
    justify-content: center;
    flex-direction: column;
    
 }
 #teachersection #teacherui #fright{
    display: flex;
   justify-content:flex-end;
    align-items: center;
    background-color: #cac8c8;
    width: 45%;
    height: inherit;
    border:1px solid #191818
}
#fright .fimages{
    width: 100%;
    height: 80%;
  background-color: #b11a1a;
}
#fleft h2{
    font-size: 2.5vw;
    font-weight: 600;
    letter-spacing: -0.1px;
}
#fleft h3{
    font-size: 1.5vw;
    font-weight: 500;
}
#fleft p{
    font-size: 1.1vw;
    font-weight: 400;
}